.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 15px;
  text-align: center;
  font-family: arial;
  cursor: pointer;

  .title {
    color: grey;
    font-size: 22px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: bold;
  }

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}
